In [1]:
import sqlite3
import pandas as pd

conn = sqlite3.connect(r"db\market_place.db")

cursor = conn.cursor()

In [2]:
aisles = pd.read_csv(r"data\aisles.csv", sep=",")
departments = pd.read_csv(r"data\departments.csv", sep=",")
products = pd.read_csv(r"data\products.csv", sep=",")
orders = pd.read_csv(r"data\orders_with_nulls.csv", sep=",")

print(aisles.isna().sum(), "\n")
print(departments.isna().sum(), "\n")
print(products.isna().sum(), "\n")
print(orders.isna().sum(), "\n")

aisle_id    0
aisle       0
dtype: int64

department_id    0
department       0
dtype: int64

product_id       0
product_name     0
aisle_id         0
department_id    0
dtype: int64

order_id                       0
user_id                        0
eval_set                       0
order_number                   0
order_dow                      0
order_hour_of_day              0
days_since_prior_order    206209
dtype: int64

In [3]:
# Calcular la media de 'days_since_prior_order' por usuario
mean_days_per_user = orders.groupby('user_id')['days_since_prior_order'].transform('mean')

# Reemplazar los valores NaN con la media de cada usuario
orders['days_since_prior_order'] = orders['days_since_prior_order'].fillna(mean_days_per_user).astype(int)

orders.to_csv("data\orders_not_nulls.csv", index=False)

<>:7: SyntaxWarning: invalid escape sequence '\o'
<>:7: SyntaxWarning: invalid escape sequence '\o'
C:\Users\cesar\AppData\Local\Temp\ipykernel_14692\686205838.py:7: SyntaxWarning: invalid escape sequence '\o'
  orders.to_csv("data\orders_not_nulls.csv", index=False)

In [5]:
cursor.execute(
    """
    CREATE TABLE IF NOT EXISTS aisles (
        aisle_id INT PRIMARY KEY,
        aisle_name TEXT NOT NULL
    )
    """
)

cursor.execute(
    """
    CREATE TABLE IF NOT EXISTS departments (
        department_id INT PRIMARY KEY,
        department_name TEXT NOT NULL
    )
    """
)

cursor.execute(
    """
    CREATE TABLE IF NOT EXISTS products (
        product_id INT PRIMARY KEY,
        product_name TEXT NOT NULL,
        aisle_id INT NOT NULL,
        department_id INT NOT NULL,
        FOREIGN KEY (aisle_id) REFERENCES aisles(aisle_id),
        FOREIGN KEY (department_id) REFERENCES departments(department_id)
    )
    """
)

cursor.execute(
    """
    CREATE TABLE IF NOT EXISTS users (
        user_id INT PRIMARY KEY,
        n_compras INT NOT NULL,
        last_order_date INT NOT NULL,
        mean_time_bt_orders INT NOT NULL,
        segment TEXT NOT NULL
    )
    """
)

cursor.execute(
    """
    CREATE TABLE IF NOT EXISTS orders (
        order_id INT NOT NULL,
        user_id INT NOT NULL,
        product_id INT NOT NULL,
        add_to_cart_order INT NOT NULL,
        reordered INT NOT NULL,
        order_number INT NOT NULL,
        order_dow INT NOT NULL,
        order_hour_of_day INT NOT NULL,
        days_since_prio_order INT NOT NULL,
        PRIMARY KEY (order_id,user_id,product_id),
        FOREIGN KEY (product_id) REFERENCES products(product_id)
    )
    """
)

conn.commit()

In [ ]:
# Inserta los datos en la base de datos
users = pd.read_csv(r"data\segmented_users.csv", sep=",")

# PASAR A MINUSCULAS TODOS LOS NOMBRES DE PRODUCTOS
products['product_name'] = products['product_name'].str.lower()
products['product_name'] = products['product_name'].str.replace('"', '', regex=False)
products['product_name'] = products['product_name'].str.replace(r"[^a-z0-9' ]", "", regex=True)
products = products.drop_duplicates(subset=['product_name', 'aisle_id', 'department_id'], keep='first')


aisles.to_sql("aisles", conn, if_exists="append", index=False)
departments.to_sql("departments", conn, if_exists="append", index=False)
products.to_sql("products", conn, if_exists="append", index=False)
users.to_sql("users", conn, if_exists="append", index=False)

chunk_size = 10000
total = len(orders)
for i in range(0, total, chunk_size):
    chunk = orders.iloc[i:i+chunk_size]
    chunk.to_sql("orders", conn, if_exists="append", index=False)
    print(f"Inserted rows {i} to {i + len(chunk) - 1}")

Inserted rows 0 to 9999
Inserted rows 10000 to 19999
Inserted rows 20000 to 29999
Inserted rows 30000 to 39999
Inserted rows 40000 to 49999
Inserted rows 50000 to 59999
Inserted rows 60000 to 69999
Inserted rows 70000 to 79999
Inserted rows 80000 to 89999
Inserted rows 90000 to 99999
Inserted rows 100000 to 109999
Inserted rows 110000 to 119999
Inserted rows 120000 to 129999
Inserted rows 130000 to 139999
Inserted rows 140000 to 149999
Inserted rows 150000 to 159999
Inserted rows 160000 to 169999
Inserted rows 170000 to 179999
Inserted rows 180000 to 189999
Inserted rows 190000 to 199999
Inserted rows 200000 to 209999
Inserted rows 210000 to 219999
Inserted rows 220000 to 229999
Inserted rows 230000 to 239999
Inserted rows 240000 to 249999
Inserted rows 250000 to 259999
Inserted rows 260000 to 269999
Inserted rows 270000 to 279999
Inserted rows 280000 to 289999
Inserted rows 290000 to 299999
Inserted rows 300000 to 309999
Inserted rows 310000 to 319999
Inserted rows 320000 to 329999
Inserted rows 330000 to 339999
Inserted rows 340000 to 349999
Inserted rows 350000 to 359999
Inserted rows 360000 to 369999
Inserted rows 370000 to 379999
Inserted rows 380000 to 389999
Inserted rows 390000 to 399999
Inserted rows 400000 to 409999
Inserted rows 410000 to 419999
Inserted rows 420000 to 429999
Inserted rows 430000 to 439999
Inserted rows 440000 to 449999
Inserted rows 450000 to 459999
Inserted rows 460000 to 469999
Inserted rows 470000 to 479999
Inserted rows 480000 to 489999
Inserted rows 490000 to 499999
Inserted rows 500000 to 509999
Inserted rows 510000 to 519999
Inserted rows 520000 to 529999
Inserted rows 530000 to 539999
Inserted rows 540000 to 549999
Inserted rows 550000 to 559999
Inserted rows 560000 to 569999
Inserted rows 570000 to 579999
Inserted rows 580000 to 589999
Inserted rows 590000 to 599999
Inserted rows 600000 to 609999
Inserted rows 610000 to 619999
Inserted rows 620000 to 629999
Inserted rows 630000 to 639999
Inserted rows 640000 to 649999
Inserted rows 650000 to 659999
Inserted rows 660000 to 669999
Inserted rows 670000 to 679999
Inserted rows 680000 to 689999
Inserted rows 690000 to 699999
Inserted rows 700000 to 709999
Inserted rows 710000 to 719999
Inserted rows 720000 to 729999
Inserted rows 730000 to 739999
Inserted rows 740000 to 749999
Inserted rows 750000 to 759999
Inserted rows 760000 to 769999
Inserted rows 770000 to 779999
Inserted rows 780000 to 789999
Inserted rows 790000 to 799999
Inserted rows 800000 to 809999
Inserted rows 810000 to 819999
Inserted rows 820000 to 829999
Inserted rows 830000 to 839999
Inserted rows 840000 to 849999
Inserted rows 850000 to 859999
Inserted rows 860000 to 869999
Inserted rows 870000 to 879999
Inserted rows 880000 to 889999
Inserted rows 890000 to 899999
Inserted rows 900000 to 909999
Inserted rows 910000 to 919999
Inserted rows 920000 to 929999
Inserted rows 930000 to 939999
Inserted rows 940000 to 949999
Inserted rows 950000 to 959999
Inserted rows 960000 to 969999
Inserted rows 970000 to 979999
Inserted rows 980000 to 989999
Inserted rows 990000 to 999999
Inserted rows 1000000 to 1009999
Inserted rows 1010000 to 1019999
Inserted rows 1020000 to 1029999
Inserted rows 1030000 to 1039999
Inserted rows 1040000 to 1049999
Inserted rows 1050000 to 1059999
Inserted rows 1060000 to 1069999
Inserted rows 1070000 to 1079999
Inserted rows 1080000 to 1089999
Inserted rows 1090000 to 1099999
Inserted rows 1100000 to 1109999
Inserted rows 1110000 to 1119999
Inserted rows 1120000 to 1129999
Inserted rows 1130000 to 1139999
Inserted rows 1140000 to 1149999
Inserted rows 1150000 to 1159999
Inserted rows 1160000 to 1169999
Inserted rows 1170000 to 1179999
Inserted rows 1180000 to 1189999
Inserted rows 1190000 to 1199999
Inserted rows 1200000 to 1209999
Inserted rows 1210000 to 1219999
Inserted rows 1220000 to 1229999
Inserted rows 1230000 to 1239999
Inserted rows 1240000 to 1249999
Inserted rows 1250000 to 1259999
Inserted rows 1260000 to 1269999
Inserted rows 1270000 to 1279999
Inserted rows 1280000 to 1289999
Inserted rows 1290000 to 1299999
Inserted rows 1300000 to 1309999
Inserted rows 1310000 to 1319999
Inserted rows 1320000 to 1329999
Inserted rows 1330000 to 1339999
Inserted rows 1340000 to 1349999
Inserted rows 1350000 to 1359999
Inserted rows 1360000 to 1369999
Inserted rows 1370000 to 1379999
Inserted rows 1380000 to 1389999
Inserted rows 1390000 to 1399999
Inserted rows 1400000 to 1409999
Inserted rows 1410000 to 1419999
Inserted rows 1420000 to 1429999
Inserted rows 1430000 to 1439999
Inserted rows 1440000 to 1449999
Inserted rows 1450000 to 1459999
Inserted rows 1460000 to 1469999
Inserted rows 1470000 to 1479999
Inserted rows 1480000 to 1489999
Inserted rows 1490000 to 1499999
Inserted rows 1500000 to 1509999
Inserted rows 1510000 to 1519999
Inserted rows 1520000 to 1529999
Inserted rows 1530000 to 1539999
Inserted rows 1540000 to 1549999
Inserted rows 1550000 to 1559999
Inserted rows 1560000 to 1569999
Inserted rows 1570000 to 1579999
Inserted rows 1580000 to 1589999
Inserted rows 1590000 to 1599999
Inserted rows 1600000 to 1609999
Inserted rows 1610000 to 1619999
Inserted rows 1620000 to 1629999
Inserted rows 1630000 to 1639999
Inserted rows 1640000 to 1649999
Inserted rows 1650000 to 1659999
Inserted rows 1660000 to 1669999
Inserted rows 1670000 to 1679999
Inserted rows 1680000 to 1689999
Inserted rows 1690000 to 1699999
Inserted rows 1700000 to 1709999
Inserted rows 1710000 to 1719999
Inserted rows 1720000 to 1729999
Inserted rows 1730000 to 1739999
Inserted rows 1740000 to 1749999
Inserted rows 1750000 to 1759999
Inserted rows 1760000 to 1769999
Inserted rows 1770000 to 1779999
Inserted rows 1780000 to 1789999
Inserted rows 1790000 to 1799999
Inserted rows 1800000 to 1809999
Inserted rows 1810000 to 1819999
Inserted rows 1820000 to 1829999
Inserted rows 1830000 to 1839999
Inserted rows 1840000 to 1849999
Inserted rows 1850000 to 1859999
Inserted rows 1860000 to 1869999
Inserted rows 1870000 to 1879999
Inserted rows 1880000 to 1889999
Inserted rows 1890000 to 1899999
Inserted rows 1900000 to 1909999
Inserted rows 1910000 to 1919999
Inserted rows 1920000 to 1929999
Inserted rows 1930000 to 1939999
Inserted rows 1940000 to 1949999
Inserted rows 1950000 to 1959999
Inserted rows 1960000 to 1969999
Inserted rows 1970000 to 1979999
Inserted rows 1980000 to 1989999
Inserted rows 1990000 to 1999999
Inserted rows 2000000 to 2009999
Inserted rows 2010000 to 2019999
Inserted rows 2020000 to 2029999
Inserted rows 2030000 to 2039999
Inserted rows 2040000 to 2049999
Inserted rows 2050000 to 2059999
Inserted rows 2060000 to 2069999
Inserted rows 2070000 to 2079999
Inserted rows 2080000 to 2089999
Inserted rows 2090000 to 2099999
Inserted rows 2100000 to 2109999
Inserted rows 2110000 to 2119999
Inserted rows 2120000 to 2129999
Inserted rows 2130000 to 2139999
Inserted rows 2140000 to 2149999
Inserted rows 2150000 to 2159999
Inserted rows 2160000 to 2169999
Inserted rows 2170000 to 2179999
Inserted rows 2180000 to 2189999
Inserted rows 2190000 to 2199999
Inserted rows 2200000 to 2209999
Inserted rows 2210000 to 2219999
Inserted rows 2220000 to 2229999
Inserted rows 2230000 to 2239999
Inserted rows 2240000 to 2249999
Inserted rows 2250000 to 2259999
Inserted rows 2260000 to 2269999
Inserted rows 2270000 to 2279999
Inserted rows 2280000 to 2289999
Inserted rows 2290000 to 2299999
Inserted rows 2300000 to 2309999
Inserted rows 2310000 to 2319999
Inserted rows 2320000 to 2329999
Inserted rows 2330000 to 2339999
Inserted rows 2340000 to 2349999
Inserted rows 2350000 to 2359999
Inserted rows 2360000 to 2369999
Inserted rows 2370000 to 2379999
Inserted rows 2380000 to 2389999
Inserted rows 2390000 to 2399999
Inserted rows 2400000 to 2409999
Inserted rows 2410000 to 2419999
Inserted rows 2420000 to 2429999
Inserted rows 2430000 to 2439999
Inserted rows 2440000 to 2449999
Inserted rows 2450000 to 2459999
Inserted rows 2460000 to 2469999
Inserted rows 2470000 to 2479999
Inserted rows 2480000 to 2489999
Inserted rows 2490000 to 2499999
Inserted rows 2500000 to 2509999
Inserted rows 2510000 to 2519999
Inserted rows 2520000 to 2529999
Inserted rows 2530000 to 2539999
Inserted rows 2540000 to 2549999
Inserted rows 2550000 to 2559999
Inserted rows 2560000 to 2569999
Inserted rows 2570000 to 2579999
Inserted rows 2580000 to 2589999
Inserted rows 2590000 to 2599999
Inserted rows 2600000 to 2609999
Inserted rows 2610000 to 2619999
Inserted rows 2620000 to 2629999
Inserted rows 2630000 to 2639999
Inserted rows 2640000 to 2649999
Inserted rows 2650000 to 2659999
Inserted rows 2660000 to 2669999
Inserted rows 2670000 to 2679999
Inserted rows 2680000 to 2689999
Inserted rows 2690000 to 2699999
Inserted rows 2700000 to 2709999
Inserted rows 2710000 to 2719999
Inserted rows 2720000 to 2729999
Inserted rows 2730000 to 2739999
Inserted rows 2740000 to 2749999
Inserted rows 2750000 to 2759999
Inserted rows 2760000 to 2769999
Inserted rows 2770000 to 2779999
Inserted rows 2780000 to 2789999
Inserted rows 2790000 to 2799999
Inserted rows 2800000 to 2809999
Inserted rows 2810000 to 2819999
Inserted rows 2820000 to 2829999
Inserted rows 2830000 to 2839999
Inserted rows 2840000 to 2849999
Inserted rows 2850000 to 2859999
Inserted rows 2860000 to 2869999
Inserted rows 2870000 to 2879999
Inserted rows 2880000 to 2889999
Inserted rows 2890000 to 2899999
Inserted rows 2900000 to 2909999
Inserted rows 2910000 to 2919999
Inserted rows 2920000 to 2929999
Inserted rows 2930000 to 2939999
Inserted rows 2940000 to 2949999
Inserted rows 2950000 to 2959999
Inserted rows 2960000 to 2969999
Inserted rows 2970000 to 2979999
Inserted rows 2980000 to 2989999
Inserted rows 2990000 to 2999999
Inserted rows 3000000 to 3009999
Inserted rows 3010000 to 3019999
Inserted rows 3020000 to 3029999
Inserted rows 3030000 to 3039999
Inserted rows 3040000 to 3049999
Inserted rows 3050000 to 3059999
Inserted rows 3060000 to 3069999
Inserted rows 3070000 to 3079999
Inserted rows 3080000 to 3089999
Inserted rows 3090000 to 3099999
Inserted rows 3100000 to 3109999
Inserted rows 3110000 to 3119999
Inserted rows 3120000 to 3129999
Inserted rows 3130000 to 3139999
Inserted rows 3140000 to 3149999
Inserted rows 3150000 to 3159999
Inserted rows 3160000 to 3169999
Inserted rows 3170000 to 3179999
Inserted rows 3180000 to 3189999
Inserted rows 3190000 to 3199999
Inserted rows 3200000 to 3209999
Inserted rows 3210000 to 3219999
Inserted rows 3220000 to 3229999
Inserted rows 3230000 to 3239999
Inserted rows 3240000 to 3249999
Inserted rows 3250000 to 3259999
Inserted rows 3260000 to 3269999
Inserted rows 3270000 to 3279999
Inserted rows 3280000 to 3289999
Inserted rows 3290000 to 3299999
Inserted rows 3300000 to 3309999
Inserted rows 3310000 to 3319999
Inserted rows 3320000 to 3329999
Inserted rows 3330000 to 3339999
Inserted rows 3340000 to 3349999
Inserted rows 3350000 to 3359999
Inserted rows 3360000 to 3369999
Inserted rows 3370000 to 3379999
Inserted rows 3380000 to 3389999
Inserted rows 3390000 to 3399999
Inserted rows 3400000 to 3409999
Inserted rows 3410000 to 3419999
Inserted rows 3420000 to 3421082

: