In [1]:
import sqlite3
import pandas as pd

conn = sqlite3.connect(r"db\market_place.db")

cursor = conn.cursor()

In [2]:
aisles = pd.read_csv(r"data\aisles.csv", sep=",")
departments = pd.read_csv(r"data\departments.csv", sep=",")
products = pd.read_csv(r"data\products.csv", sep=",")
orders = pd.read_csv(r"data\orders_with_nulls.csv", sep=",")

print("NULOS POR TABLA")
print(aisles.isna().sum(), "\n")
print(departments.isna().sum(), "\n")
print(products.isna().sum(), "\n")
print(orders.isna().sum(), "\n")

print("VALORES UNICOS EN ID")
print(aisles['aisle_id'].value_counts()[aisles['aisle_id'].value_counts() > 1])
print(departments['department_id'].value_counts()[departments['department_id'].value_counts() > 1])
print(products['product_id'].value_counts()[products['product_id'].value_counts() > 1])

NULOS POR TABLA
aisle_id      0
aisle_name    0
dtype: int64

department_id      0
department_name    0
dtype: int64

product_id       0
product_name     0
aisle_id         0
department_id    0
dtype: int64

order_id                       0
user_id                        0
eval_set                       0
order_number                   0
order_dow                      0
order_hour_of_day              0
days_since_prior_order    206209
dtype: int64

VALORES UNICOS EN ID
Series([], Name: count, dtype: int64)
Series([], Name: count, dtype: int64)
Series([], Name: count, dtype: int64)

In [3]:
# Calcular la media de 'days_since_prior_order' por usuario
mean_days_per_user = orders.groupby('user_id')['days_since_prior_order'].transform('mean')

# Reemplazar los valores NaN con la media de cada usuario
orders['days_since_prior_order'] = orders['days_since_prior_order'].fillna(mean_days_per_user).astype(int)

orders.to_csv("data\orders_not_nulls.csv", index=False)

CREAR UN UNIC ORDERS AMB PRIOR I TRAIN SENSE NULS

In [ ]:
orders_prior = pd.read_csv(r"data\order_products__prior.csv", sep=",")
orders_train = pd.read_csv(r"data\order_products__train.csv", sep=",")

order_products = pd.concat([orders_prior, orders_train], ignore_index=True)

# Hacer merge con la tabla de Ã³rdenes
merged = pd.merge(order_products, orders, on='order_id', how='left')

merged.to_csv('data/final_orders.csv', index=False)

cursor.execute(
    """
    CREATE TABLE IF NOT EXISTS aisles (
        aisle_id INT PRIMARY KEY,
        aisle_name TEXT NOT NULL
    )
    """
)

cursor.execute(
    """
    CREATE TABLE IF NOT EXISTS departments (
        department_id INT PRIMARY KEY,
        department_name TEXT NOT NULL
    )
    """
)

cursor.execute(
    """
    CREATE TABLE IF NOT EXISTS products (
        product_id INT PRIMARY KEY,
        product_name TEXT NOT NULL,
        aisle_id INT NOT NULL,
        department_id INT NOT NULL,
        FOREIGN KEY (aisle_id) REFERENCES aisles(aisle_id),
        FOREIGN KEY (department_id) REFERENCES departments(department_id)
    )
    """
)

cursor.execute(
    """
    CREATE TABLE IF NOT EXISTS users (
        user_id INT PRIMARY KEY,
        n_compras INT NOT NULL,
        last_order_date INT NOT NULL,
        mean_time_bt_orders INT NOT NULL,
        segment TEXT NOT NULL
    )
    """
)

cursor.execute(
    """
    CREATE TABLE IF NOT EXISTS orders (
        order_id INT NOT NULL,
        user_id INT NOT NULL,
        product_id INT NOT NULL,
        add_to_cart_order INT NOT NULL,
        reordered INT NOT NULL,
        order_number INT NOT NULL,
        order_dow INT NOT NULL,
        order_hour_of_day INT NOT NULL,
        days_since_prio_order INT NOT NULL,
        PRIMARY KEY (order_id,user_id,product_id),
        FOREIGN KEY (product_id) REFERENCES products(product_id)
    )
    """
)

CREATE TABLE IF NOT EXISTS svd_predictions (
    user_id INTEGER,
    product_id INTEGER,
    score REAL,    
    PRIMARY KEY (user_id, product_id)
)

conn.commit()

In [3]:
# Inserta los datos en la base de datos
users = pd.read_csv(r"data\segmented_users.csv", sep=",")
merged = pd.read_csv(r"data\final_orders.csv", sep=",")

# PASAR A MINUSCULAS TODOS LOS NOMBRES DE PRODUCTOS
products['product_name'] = products['product_name'].str.lower()
products['product_name'] = products['product_name'].str.replace('"', '', regex=False)
products['product_name'] = products['product_name'].str.replace(r"[^a-z0-9' ]", "", regex=True)
products = products.drop_duplicates(subset=['product_name', 'aisle_id', 'department_id'], keep='first')


aisles.to_sql("aisles", conn, if_exists="append", index=False)
departments.to_sql("departments", conn, if_exists="append", index=False)
products.to_sql("products", conn, if_exists="append", index=False)
users.to_sql("users", conn, if_exists="append", index=False)

chunk_size = 100000
total = len(merged)
for i in range(0, total, chunk_size):
    chunk = merged.iloc[i:i+chunk_size]
    chunk.to_sql("orders", conn, if_exists="append", index=False)
    print(f"Inserted rows {i} to {i + len(chunk) - 1}")

Inserted rows 0 to 99999
Inserted rows 100000 to 199999
Inserted rows 200000 to 299999
Inserted rows 300000 to 399999
Inserted rows 400000 to 499999
Inserted rows 500000 to 599999
Inserted rows 600000 to 699999
Inserted rows 700000 to 799999
Inserted rows 800000 to 899999
Inserted rows 900000 to 999999
Inserted rows 1000000 to 1099999
Inserted rows 1100000 to 1199999
Inserted rows 1200000 to 1299999
Inserted rows 1300000 to 1399999
Inserted rows 1400000 to 1499999
Inserted rows 1500000 to 1599999
Inserted rows 1600000 to 1699999
Inserted rows 1700000 to 1799999
Inserted rows 1800000 to 1899999
Inserted rows 1900000 to 1999999
Inserted rows 2000000 to 2099999
Inserted rows 2100000 to 2199999
Inserted rows 2200000 to 2299999
Inserted rows 2300000 to 2399999
Inserted rows 2400000 to 2499999
Inserted rows 2500000 to 2599999
Inserted rows 2600000 to 2699999
Inserted rows 2700000 to 2799999
Inserted rows 2800000 to 2899999
Inserted rows 2900000 to 2999999
Inserted rows 3000000 to 3099999
Inserted rows 3100000 to 3199999
Inserted rows 3200000 to 3299999
Inserted rows 3300000 to 3399999
Inserted rows 3400000 to 3499999
Inserted rows 3500000 to 3599999
Inserted rows 3600000 to 3699999
Inserted rows 3700000 to 3799999
Inserted rows 3800000 to 3899999
Inserted rows 3900000 to 3999999
Inserted rows 4000000 to 4099999
Inserted rows 4100000 to 4199999
Inserted rows 4200000 to 4299999
Inserted rows 4300000 to 4399999
Inserted rows 4400000 to 4499999
Inserted rows 4500000 to 4599999
Inserted rows 4600000 to 4699999
Inserted rows 4700000 to 4799999
Inserted rows 4800000 to 4899999
Inserted rows 4900000 to 4999999
Inserted rows 5000000 to 5099999
Inserted rows 5100000 to 5199999
Inserted rows 5200000 to 5299999
Inserted rows 5300000 to 5399999
Inserted rows 5400000 to 5499999
Inserted rows 5500000 to 5599999
Inserted rows 5600000 to 5699999
Inserted rows 5700000 to 5799999
Inserted rows 5800000 to 5899999
Inserted rows 5900000 to 5999999
Inserted rows 6000000 to 6099999
Inserted rows 6100000 to 6199999
Inserted rows 6200000 to 6299999
Inserted rows 6300000 to 6399999
Inserted rows 6400000 to 6499999
Inserted rows 6500000 to 6599999
Inserted rows 6600000 to 6699999
Inserted rows 6700000 to 6799999
Inserted rows 6800000 to 6899999
Inserted rows 6900000 to 6999999
Inserted rows 7000000 to 7099999
Inserted rows 7100000 to 7199999
Inserted rows 7200000 to 7299999
Inserted rows 7300000 to 7399999
Inserted rows 7400000 to 7499999
Inserted rows 7500000 to 7599999
Inserted rows 7600000 to 7699999
Inserted rows 7700000 to 7799999
Inserted rows 7800000 to 7899999
Inserted rows 7900000 to 7999999
Inserted rows 8000000 to 8099999
Inserted rows 8100000 to 8199999
Inserted rows 8200000 to 8299999
Inserted rows 8300000 to 8399999
Inserted rows 8400000 to 8499999
Inserted rows 8500000 to 8599999
Inserted rows 8600000 to 8699999
Inserted rows 8700000 to 8799999
Inserted rows 8800000 to 8899999
Inserted rows 8900000 to 8999999
Inserted rows 9000000 to 9099999
Inserted rows 9100000 to 9199999
Inserted rows 9200000 to 9299999
Inserted rows 9300000 to 9399999
Inserted rows 9400000 to 9499999
Inserted rows 9500000 to 9599999
Inserted rows 9600000 to 9699999
Inserted rows 9700000 to 9799999
Inserted rows 9800000 to 9899999
Inserted rows 9900000 to 9999999
Inserted rows 10000000 to 10099999
Inserted rows 10100000 to 10199999
Inserted rows 10200000 to 10299999
Inserted rows 10300000 to 10399999
Inserted rows 10400000 to 10499999
Inserted rows 10500000 to 10599999
Inserted rows 10600000 to 10699999
Inserted rows 10700000 to 10799999
Inserted rows 10800000 to 10899999
Inserted rows 10900000 to 10999999
Inserted rows 11000000 to 11099999
Inserted rows 11100000 to 11199999
Inserted rows 11200000 to 11299999
Inserted rows 11300000 to 11399999
Inserted rows 11400000 to 11499999
Inserted rows 11500000 to 11599999
Inserted rows 11600000 to 11699999
Inserted rows 11700000 to 11799999
Inserted rows 11800000 to 11899999
Inserted rows 11900000 to 11999999
Inserted rows 12000000 to 12099999
Inserted rows 12100000 to 12199999
Inserted rows 12200000 to 12299999
Inserted rows 12300000 to 12399999
Inserted rows 12400000 to 12499999
Inserted rows 12500000 to 12599999
Inserted rows 12600000 to 12699999
Inserted rows 12700000 to 12799999
Inserted rows 12800000 to 12899999
Inserted rows 12900000 to 12999999
Inserted rows 13000000 to 13099999
Inserted rows 13100000 to 13199999
Inserted rows 13200000 to 13299999
Inserted rows 13300000 to 13399999
Inserted rows 13400000 to 13499999
Inserted rows 13500000 to 13599999
Inserted rows 13600000 to 13699999
Inserted rows 13700000 to 13799999
Inserted rows 13800000 to 13899999
Inserted rows 13900000 to 13999999
Inserted rows 14000000 to 14099999
Inserted rows 14100000 to 14199999
Inserted rows 14200000 to 14299999
Inserted rows 14300000 to 14399999
Inserted rows 14400000 to 14499999
Inserted rows 14500000 to 14599999
Inserted rows 14600000 to 14699999
Inserted rows 14700000 to 14799999
Inserted rows 14800000 to 14899999
Inserted rows 14900000 to 14999999
Inserted rows 15000000 to 15099999
Inserted rows 15100000 to 15199999
Inserted rows 15200000 to 15299999
Inserted rows 15300000 to 15399999
Inserted rows 15400000 to 15499999
Inserted rows 15500000 to 15599999
Inserted rows 15600000 to 15699999
Inserted rows 15700000 to 15799999
Inserted rows 15800000 to 15899999
Inserted rows 15900000 to 15999999
Inserted rows 16000000 to 16099999
Inserted rows 16100000 to 16199999
Inserted rows 16200000 to 16299999
Inserted rows 16300000 to 16399999
Inserted rows 16400000 to 16499999
Inserted rows 16500000 to 16599999
Inserted rows 16600000 to 16699999
Inserted rows 16700000 to 16799999
Inserted rows 16800000 to 16899999
Inserted rows 16900000 to 16999999
Inserted rows 17000000 to 17099999
Inserted rows 17100000 to 17199999
Inserted rows 17200000 to 17299999
Inserted rows 17300000 to 17399999
Inserted rows 17400000 to 17499999
Inserted rows 17500000 to 17599999
Inserted rows 17600000 to 17699999
Inserted rows 17700000 to 17799999
Inserted rows 17800000 to 17899999
Inserted rows 17900000 to 17999999
Inserted rows 18000000 to 18099999
Inserted rows 18100000 to 18199999
Inserted rows 18200000 to 18299999
Inserted rows 18300000 to 18399999
Inserted rows 18400000 to 18499999
Inserted rows 18500000 to 18599999
Inserted rows 18600000 to 18699999
Inserted rows 18700000 to 18799999
Inserted rows 18800000 to 18899999
Inserted rows 18900000 to 18999999
Inserted rows 19000000 to 19099999
Inserted rows 19100000 to 19199999
Inserted rows 19200000 to 19299999
Inserted rows 19300000 to 19399999
Inserted rows 19400000 to 19499999
Inserted rows 19500000 to 19599999
Inserted rows 19600000 to 19699999
Inserted rows 19700000 to 19799999
Inserted rows 19800000 to 19899999
Inserted rows 19900000 to 19999999
Inserted rows 20000000 to 20099999
Inserted rows 20100000 to 20199999
Inserted rows 20200000 to 20299999
Inserted rows 20300000 to 20399999
Inserted rows 20400000 to 20499999
Inserted rows 20500000 to 20599999
Inserted rows 20600000 to 20699999
Inserted rows 20700000 to 20799999
Inserted rows 20800000 to 20899999
Inserted rows 20900000 to 20999999
Inserted rows 21000000 to 21099999
Inserted rows 21100000 to 21199999
Inserted rows 21200000 to 21299999
Inserted rows 21300000 to 21399999
Inserted rows 21400000 to 21499999
Inserted rows 21500000 to 21599999
Inserted rows 21600000 to 21699999
Inserted rows 21700000 to 21799999
Inserted rows 21800000 to 21899999
Inserted rows 21900000 to 21999999
Inserted rows 22000000 to 22099999
Inserted rows 22100000 to 22199999
Inserted rows 22200000 to 22299999
Inserted rows 22300000 to 22399999
Inserted rows 22400000 to 22499999
Inserted rows 22500000 to 22599999
Inserted rows 22600000 to 22699999
Inserted rows 22700000 to 22799999
Inserted rows 22800000 to 22899999
Inserted rows 22900000 to 22999999
Inserted rows 23000000 to 23099999
Inserted rows 23100000 to 23199999
Inserted rows 23200000 to 23299999
Inserted rows 23300000 to 23399999
Inserted rows 23400000 to 23499999
Inserted rows 23500000 to 23599999
Inserted rows 23600000 to 23699999
Inserted rows 23700000 to 23799999
Inserted rows 23800000 to 23899999
Inserted rows 23900000 to 23999999
Inserted rows 24000000 to 24099999
Inserted rows 24100000 to 24199999
Inserted rows 24200000 to 24299999
Inserted rows 24300000 to 24399999
Inserted rows 24400000 to 24499999
Inserted rows 24500000 to 24599999
Inserted rows 24600000 to 24699999
Inserted rows 24700000 to 24799999
Inserted rows 24800000 to 24899999
Inserted rows 24900000 to 24999999
Inserted rows 25000000 to 25099999
Inserted rows 25100000 to 25199999
Inserted rows 25200000 to 25299999
Inserted rows 25300000 to 25399999
Inserted rows 25400000 to 25499999
Inserted rows 25500000 to 25599999
Inserted rows 25600000 to 25699999
Inserted rows 25700000 to 25799999
Inserted rows 25800000 to 25899999
Inserted rows 25900000 to 25999999
Inserted rows 26000000 to 26099999
Inserted rows 26100000 to 26199999
Inserted rows 26200000 to 26299999
Inserted rows 26300000 to 26399999
Inserted rows 26400000 to 26499999
Inserted rows 26500000 to 26599999
Inserted rows 26600000 to 26699999
Inserted rows 26700000 to 26799999
Inserted rows 26800000 to 26899999
Inserted rows 26900000 to 26999999
Inserted rows 27000000 to 27099999
Inserted rows 27100000 to 27199999
Inserted rows 27200000 to 27299999
Inserted rows 27300000 to 27399999
Inserted rows 27400000 to 27499999
Inserted rows 27500000 to 27599999
Inserted rows 27600000 to 27699999
Inserted rows 27700000 to 27799999
Inserted rows 27800000 to 27899999
Inserted rows 27900000 to 27999999
Inserted rows 28000000 to 28099999
Inserted rows 28100000 to 28199999
Inserted rows 28200000 to 28299999
Inserted rows 28300000 to 28399999
Inserted rows 28400000 to 28499999
Inserted rows 28500000 to 28599999
Inserted rows 28600000 to 28699999
Inserted rows 28700000 to 28799999
Inserted rows 28800000 to 28899999
Inserted rows 28900000 to 28999999
Inserted rows 29000000 to 29099999
Inserted rows 29100000 to 29199999
Inserted rows 29200000 to 29299999
Inserted rows 29300000 to 29399999
Inserted rows 29400000 to 29499999
Inserted rows 29500000 to 29599999
Inserted rows 29600000 to 29699999
Inserted rows 29700000 to 29799999
Inserted rows 29800000 to 29899999
Inserted rows 29900000 to 29999999
Inserted rows 30000000 to 30099999
Inserted rows 30100000 to 30199999
Inserted rows 30200000 to 30299999
Inserted rows 30300000 to 30399999
Inserted rows 30400000 to 30499999
Inserted rows 30500000 to 30599999
Inserted rows 30600000 to 30699999
Inserted rows 30700000 to 30799999
Inserted rows 30800000 to 30899999
Inserted rows 30900000 to 30999999
Inserted rows 31000000 to 31099999
Inserted rows 31100000 to 31199999
Inserted rows 31200000 to 31299999
Inserted rows 31300000 to 31399999
Inserted rows 31400000 to 31499999
Inserted rows 31500000 to 31599999
Inserted rows 31600000 to 31699999
Inserted rows 31700000 to 31799999
Inserted rows 31800000 to 31899999
Inserted rows 31900000 to 31999999
Inserted rows 32000000 to 32099999
Inserted rows 32100000 to 32199999
Inserted rows 32200000 to 32299999
Inserted rows 32300000 to 32399999
Inserted rows 32400000 to 32499999
Inserted rows 32500000 to 32599999
Inserted rows 32600000 to 32699999
Inserted rows 32700000 to 32799999
Inserted rows 32800000 to 32899999
Inserted rows 32900000 to 32999999
Inserted rows 33000000 to 33099999
Inserted rows 33100000 to 33199999
Inserted rows 33200000 to 33299999
Inserted rows 33300000 to 33399999
Inserted rows 33400000 to 33499999
Inserted rows 33500000 to 33599999
Inserted rows 33600000 to 33699999
Inserted rows 33700000 to 33799999
Inserted rows 33800000 to 33819105

## GENERAR MODELOS POR SEGMENTO

Generar modelos e insertar los valores en la base de datos

In [6]:
import joblib

usuarios = pd.read_sql_query("SELECT user_id, segment FROM users", conn)
print(usuarios.head())

productos_top = pd.read_sql_query(
    "SELECT product_id FROM orders GROUP BY product_id ORDER BY COUNT(*) DESC LIMIT 500", conn
)['product_id'].tolist()

# Crear tabla si no existe
conn.execute("""
CREATE TABLE IF NOT EXISTS svd_predictions (
    user_id INTEGER,
    product_id INTEGER,
    score REAL,
    PRIMARY KEY (user_id, product_id)
)
""")

# Predecir y guardar
for segmento in usuarios['segment'].unique():
    print(f"Segmento: {segmento}")
    model = joblib.load(f"models/SVD/SVD_{segmento}.joblib")
    user_ids = usuarios[usuarios['segment'] == segmento]['user_id']
    for user_id in user_ids:
        for pid in productos_top:
            score = model.predict(user_id, pid).est
            conn.execute(
                "INSERT OR REPLACE INTO svd_predictions (user_id, product_id, score) VALUES (?, ?, ?)",
                (user_id, pid, score)
            )
conn.commit()
conn.close()

   user_id    segment
0        1  Ocasional
1        2   Inactivo
2        3  Ocasional
3        4   Inactivo
4        5  Ocasional
Segmento: Ocasional
Segmento: Inactivo
Segmento: Frecuente